###
 # @Author: cairq cairq@tongbaninfo.com
 # @Date: 2026-05-19 22:15:01
 # @LastEditors: cairq cairq@tongbaninfo.com
 # @LastEditTime: 2026-05-19 22:16:59
 # @FilePath: \world_cup_2026\app\.env.example
 # @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
### 
# 可选：在此填写 Mapbox Token（优先于 config.js）
# 复制为 .env.local 后填入，勿提交 .env.local
VITE_MAPBOX_TOKEN=your_mapbox_public_token_here
